/*Block-Level Elements  */
/*Przyklad zastosowania */

a{
    padding: 20px;
    margin: 20px;
    background-color: #ccc;
    border: 1px solid #aaa;
    color: #000;
    text-decoration: none;
/*teraz wyswietlamy - nachodza - wiec dopisujemy:*/    
    display: inline-block;
}
