/*COLOR Backgrounds*/

#banner{
    width: 100%;
    height: 300px;
/*okreslenie kolory szesnastkowo*/
/*
    background-color: #500000;
*/
/*okreslenie koloru przez rgb()*/
    background-color: rgb(150, 0, 0);
}
